html, body {
    height: 100%;
    margin: 0 auto;
    background-color: brown;
}

#container {
    margin: 100px auto;
    height: 300px;
    width: 800px;
    background-color: white;
    display: grid;
}

#paragraph {
    text-align: center;
    align-self: center;
    padding: 0;
    margin: 0;
}