html, body {
    height: 100%;
    margin: 0 auto;
    background-color: brown;
}

#container {
    margin: 100px auto;
    height: 200px;
    width: 850px;
    background-color: white;
    display: grid;
}

#paragraph {
    text-align: center;
    align-self: center;
    padding: 0;
    margin: 0;
}

#container-two {
    margin: -50px auto;
    height: 80px;
    width: 850px;
    background-color: white;
    display: flex;
}

/*font family*/
#fontdiv {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

#font-label {
    font-weight: bold;
    padding-bottom: 5px;
}
#select {
    height: 25px;
    width: 100px;
}

/*Size*/
#fontsize {
    align-self: center;
    margin-left: 50px;
}

#fontsize p {
    margin: 0;
    text-align: center;
    font-weight: bold;
}